.App {}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: all 0.1s ease;
}

.image:hover {
  filter: contrast(2) saturate(2);
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(17, 71, 141, 0.9);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  max-width: 90%;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease;
  outline: 8px solid rgba(0, 0, 0, 1);
}

.smalltext {
  font-size: 10px;
  color: #ccc;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}


button {
  background-color: #f9f9f9;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4c90b8;
}

button:active {
  background-color: #006bc2;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}